
// Fonts
//@import url("https://googlefonts.hk.wxccs.org/css?family=Raleway:300,400,600");
@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://oss.iel.pub/website/fonts/woff2/JetBrainsMono-Bold-Italic.woff2') format('woff2'),
  url('https://oss.iel.pub/website/fonts/woff/JetBrainsMono-Bold-Italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://oss.iel.pub/website/fonts/woff2/JetBrainsMono-Medium-Italic.woff2') format('woff2'),
  url('https://oss.iel.pub/website/fonts/woff/JetBrainsMono-Medium-Italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://oss.iel.pub/website/fonts/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
  url('https://oss.iel.pub/website/fonts/woff/JetBrainsMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://oss.iel.pub/website/fonts/woff2/JetBrainsMono-ExtraBold.woff2') format('woff2'),
  url('https://oss.iel.pub/website/fonts/woff/JetBrainsMono-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://oss.iel.pub/website/fonts/woff2/JetBrainsMono-Medium.woff2') format('woff2'),
  url('https://oss.iel.pub/website/fonts/woff/JetBrainsMono-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://oss.iel.pub/website/fonts/woff2/JetBrainsMono-Italic.woff2') format('woff2'),
  url('https://oss.iel.pub/website/fonts/woff/JetBrainsMono-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://oss.iel.pub/website/fonts/woff2/JetBrainsMono-Bold.woff2') format('woff2'),
  url('https://oss.iel.pub/website/fonts/woff/JetBrainsMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://oss.iel.pub/website/fonts/woff2/JetBrainsMono-ExtraBold-Italic.woff2') format('woff2'),
  url('https://oss.iel.pub/website/fonts/woff/JetBrainsMono-ExtraBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

//FontAwesome
@import "~font-awesome/scss/font-awesome";

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.space {
  margin:0;
  padding:0;
  height:50px;
}